<div class="container-fluid">
    <div class="row">
        <span class="title">Dashboard</span>
    </div>

    <dashboard-tot-stats></dashboard-tot-stats>

    <!-- Second set of cards found in the HoursStat Component -->
    <div class="row">
        <!-- 1 -->
        <div class="col-lg-6 col-md-12 col-sm-12">
            <dashboard-left></dashboard-left>
        </div>
        <!-- 2 -->
        <div class="col-lg-6 col-md-12 col-sm-12">
            <dashboard-right></dashboard-right>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <dashboard-bottom></dashboard-bottom>
        </div>
    </div>
</div>