<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box">
            <div class="box-label">
                <h3 #missionCountRef>0</h3>
                <span>Workers</span>
            </div>
            <div class="box-icon">
                <i class="bi bi-layers" style="color: #f47e7e"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box">
            <div class="box-label">
                <h3 #completedCountRef>0</h3>
                <span>Resources</span>
            </div>
            <div class="box-icon">
                <i class="bi bi-layers" style="color: #10be2c"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box">
            <div class="box-label">
                <h3 #ongoingCountRef>0</h3>
                <span>Total</span>
            </div>
            <div class="box-icon">
                <i class="bi bi-layers" style="color: #d08411"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="box">
            <div class="box-label">
                <h3 #totalHourCountRef>0</h3>
                <span>Cash</span>
            </div>
            <div class="box-icon">
                <i class="bi bi-clock" style="color: #0044aa"></i>
            </div>
        </div>
    </div>
</div>