<div class="side-nav-content">
    <div class="logo-image-container" [ngClass]="{'logo-image-container-closed' : !sideNavStatus}">
        <img class="logo-image-opened" [ngClass]="{'logo-image-closed' : !sideNavStatus}"
            src="../../../assets/Images/logo.jpg" alt="" />
    </div>

    <ul class="nav-list" [ngClass]="{'nav-list-open' : sideNavStatus}">
        <a routerLink="/main/dashboard">
            <li routerLinkActive="link-ative" [class.active]="activeLink === 'dahboard'" class="nav-list-item">
                <i class="bi bi-window-sidebar"></i>
                <span>
                    Dashboard
                </span>
            </li>
        </a>
        <a routerLink="/main/workers" [class.active]="activeLink === 'missions'">
            <li routerLinkActive="link-ative" class="nav-list-item">
                <i class="bi bi-layers"></i>
                <span>
                    Workers
                </span>
            </li>
        </a>
        <a routerLink="/main/resources">
            <li routerLinkActive="link-ative" [class.active]="activeLink === 'members'" class="nav-list-item">
                <i class="bi bi-people"></i>
                <span>
                    Resources
                </span>
            </li>
        </a>
        <hr>
        <li class="sidebar-toggle" [ngClass]="{'sidebar-toggle-opened': sideNavStatus, 
'sidebar-toggle-closed': !sideNavStatus}">
            <a>
                <i (click)="sideNavToggle()" [ngClass]="{'bi bi-arrow-bar-left': sideNavStatus, 
                'bi bi-arrow-bar-right': !sideNavStatus}">
                </i>
            </a>
        </li>
    </ul>
</div>