<nav class="navbar navbar-light bg-light justify-content-lg-end justify-content-sm-center"
    [ngClass]="{'full-width-header' : sideNavStatus}">
    <div class="profile">
        <select>
            <option>English</option>
            <option>Français</option>
        </select>
    </div>

    <span class="user-name">
        <div class="styled">
            <div class="dropdown" appDropdown>
                <a class="btn btn-neutral dropdown-toggle" role="button" data-toggle="dropdown">Mawalou 14 </a>
                <div class="dropdown-menu drop-body dropdown-menu-right">
                    <a class="dropdown-item">Change Password</a>
                    <a class="dropdown-item">Edit Profile</a>
                    <a class="dropdown-item" style="color: red;">Logout</a>
                </div>
            </div>
        </div>
    </span>
    <div class="profile-image">
        <img src="assets/Images/logo.jpg" alt="" />
    </div>
</nav>